# Operator In Python

# Arthimetic Operators

In [3]:
import pandas as pd
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [11]:
# Arithmetic Operators
a: int = 200
b: int = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(b**2)
print(a // b)

203
197
600
66.66666666666667
2
9
66

# Assignment Operators

In [12]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [40]:
a: int = 10
a += 5
print(a)
a-= 5
print(a)
a*= 5
print(a)
a/= 5
print(a)
a%= 4
print(a)
a**= 2
print(a)
a//= 3
print(a)

15
10
50
10.0
2.0
4.0
1.0

# Comparison Operators

In [20]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [23]:
a: int = 10
b: int = 5
print(a == b)
print(a != b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

# Logical Operators

In [24]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [28]:
print(True and True)
print(not(True and True and True and False))
print(True or False)
print(False or False or False or True)
print(not(False or False or False or False))

True
True
True
True
True

# Identical Operators

In [29]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [34]:
# Identical Operators 
abc: str = "Muhammad Ahsaan"
xyz: str = "Hijabie Rabail"
print(id(abc))
print(id(xyz))
print(abc is xyz)
print(abc is not xyz)

2246257032880
2246256939952
False
True

# Membership Operators

In [35]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [38]:
# Membership Operators
names: list[str] = ["Muhammad Ahsaan", "Hijabie Rabail", "Riv Khan"]
uinput: str = input("Enter your name: ")
if uinput in names:
    print(uinput, "is in the list")
elif uinput not in names:
    print(uinput, "is not in the list")

fajar rabail khan is not in the list